<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
  <link rel="stylesheet" href="/static/css/about.css">
  <link rel="icon" type="image/x-icon" href="/static/assets/images/logo.png">
</head>
<body>
  <header>
    <h1>About Us</h1>
  </header>
  
  <div class="container">
    <h2>Our Project Guide</h2>
    <ul>
      <li>G AbdulKalamAzad AP/CSE</li>
    </ul>
    <h2>Our Team</h2>
    <ul>
      <li>Muralikkrishnan S</li>
      <li>Poopathiraja P</li>
      <li>Mohanasundaram S G</li>
      <li>Omsre R</li>
      
    </ul>

    <h2>Contact Us</h2>
    <p>Email: <ul>2k20cse091@kiot.ac.in</ul>
      <ul>2k20cse105@kiot.ac.in</ul>
      <ul>2k20cse088@kiot.ac.in</ul>
      <ul> 2k20cse101@kiot.ac.in</ul>
    </p>
  </div>
</body>
</html>
