<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/error.css">
    <link rel="icon" type="image/x-icon" href="/static/assets/images/logo.png">
    <title>404 Location Not Found</title>
</head>
<body>
    <div class="error-container">
        <h1 class="error-title">404</h1>
        <p class="error-text">Oops! Enter Valid Location <span class="animate-blink">....</span></p>
    </div>
</body>
</html>
