<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/static/css/home.css">
  <link rel="icon" type="image/x-icon" href="/static/assets/images/logo.png">
</head>

<body>

  <header id="header" class="header">
    <div class="container">
      <div class="logo">
        <h1><span>FLOOD MANAGEMENT</span></h1>
      </div>
      <nav class="navbar">
        <ul>
          <li><a href="#" class="active">Home</a></li>
          <li><a href="/register">Register</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="#project">Project</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
    </div>
    <div class="hero">
      <div class="container">
        <div class="hero-content">
          <h2>Welcome to</h2>
          <h2>Flood Management</h2>
          <p>In the realm of flood management, Geographic Information Systems (GIS) serve as invaluable tools for planning, mitigation, and response strategies. Utilizing software like QGIS (Quantum Geographic Information System), experts can analyze spatial data such as elevation, land use, soil type, and hydrology to create comprehensive flood risk maps. These maps not only identify areas susceptible to flooding but also assist in evaluating infrastructure vulnerabilities and planning evacuation routes. QGIS enables the integration of real-time data, facilitating dynamic modeling and decision-making during flood events.</p>
          <a href="#project" class="btn-get-started">What's Next?</a>
        </div>
      </div>
    </div>
  </header>

  <section id="project" class="projects">
    <div class="container">
      <div class="section-header">
        <h2>Our Project</h2>
        <p>Developed an AI-ML-based GIS application using open-source software to analyze past flood imageries, project new images for specific flood levels, aiding spatial assessment for rescue and relief in flood prone areas. This paper introduces an innovative AI-ML-based GIS application developed using open-source GIS software for analyzing historical flood imageries and predicting potential flood extents and depths in flood-prone areas. By integrating historical flood data with satellite imagery and leveraging advanced AI and ML algorithms, the system learns from past events to forecast new flood scenarios for specific flood levels. Key features include interactive visualization tools and the ability to overlay critical infrastructure, population densities, and evacuation routes, aiding in proactive spatial assessment for rescue and relief operations.</p>
      </div>
    </div>
  </section>

  <footer id="footer" class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-info">
          <h3>Flood Management Project</h3>
          <p>
            KIOT <br>
            TAMIL NADU, INDIA<br><br>
            <strong>Designer:</strong> Murali<br>
            <strong>Email:</strong> muralikkrish2003@gmail.com<br>
          </p>
        </div>
        <div class="footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#header">Home</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="#project">Project</a></li>
            <li><a href="#">Terms of service</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-legal">
        <div class="copyright">
          &copy; Copyright <strong><span>FloodManagement</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="#">Muarli</a>
        </div>
      </div>
    </div>
  </footer>

</body>

</html>
